.banner {
  height: 600px;
  width: 100%;
  background-color: #111;
  margin-bottom: 48px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  font-weight: 400;
  font-size: 18px;
  position: relative;
}

.banner a {
  color: #fffc;
  text-decoration: underline;
}

.banner .title {
  font-size: 46px;
  font-weight: 700;
}

.square {
  border-radius: 5px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.contents {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.imagecredit {
  position: absolute;
  bottom: 25px;
  left: 10px;
  color: #ffffff8c;
  text-shadow: 0 1px 8px #0000001a;
  font-size: 13px;
  text-decoration: none;
}

.imagecredit a {
  color: #fffc;
  text-decoration: none;
}

.trendingTopics {
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: #fff;
}
.trendingTopics ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 7px;
  text-transform: lowercase;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  color: #fffc;
}

.trendingTopics ul li:after {
  content: ", ";
}
.trendingTopics ul li:last-child:after {
  content: "";
}

.masonryview {
  margin-left: 48px;
  margin-right: 48px;
}

.masonryImage {
  position: relative;
}

.masonry_buttons {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}

.masonry_buttons:hover {
  /* display: block;*/
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.masonry_buttons .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 20px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.masonry_buttons .top {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.masonry_buttons .bottom > .profile {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  font-size: 15px;
  color: white;
}

.masonry_buttons .bottom > .profile > img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.masonry_button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: white;
  color: black;
  border-radius: 5px;
  width: 20px;
  height: 20px;
}
