.banner {
  height: 600px;
  width: 100%;
  background-color: #111;
  margin-bottom: 48px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  font-weight: 400;
  font-size: 18px;
  position: relative;
}

.banner a {
  color: #fffc;
  text-decoration: underline;
}

.banner .title {
  font-size: 46px;
  font-weight: 700;
}

.square {
  border-radius: 5px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.contents {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.imagecredit {
  position: absolute;
  bottom: 25px;
  left: 10px;
  color: #ffffff8c;
  text-shadow: 0 1px 8px #0000001a;
  font-size: 13px;
  text-decoration: none;
}

.imagecredit a {
  color: #fffc;
  text-decoration: none;
}

.trendingTopics {
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: #fff;
}
.trendingTopics ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 7px;
  text-transform: lowercase;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  color: #fffc;
}

.trendingTopics ul li:after {
  content: ", ";
}
.trendingTopics ul li:last-child:after {
  content: "";
}
